<app-sidebar></app-sidebar>
<simple-notifications [options]="options"></simple-notifications>
<div class="content-container">
  <div class="container-fluid">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>{{ page_title }}</h1>
      <br />
      <form
        #buscarClientesReporte="ngForm"
        (ngSubmit)="onSubmit(buscarClientesReporte)"
      >
        <div class="row">
          <div class="col-6">
            <label for="name">Fecha desde:</label>
            <input
              type="date"
              class="form-control"
              value="{{ desde }}"
              max="{{fechaMaxima}}"
              name="desde"
              [(ngModel)]="desde"
              required
            />
          </div>
          <div class="col-6">
            <label for="code">Fecha hasta:</label>
            <input
              type="date"
              class="form-control"
              min="{{ desde }}"
              max="{{fechaActual}}"
              name="hasta"
              [(ngModel)]="hasta"
              (ngModelChange)="limiteFecha()"
              required
            />
          </div>
        </div>
        <br />
        <input
          type="submit"
          value="Buscar"
          class="btn btn-primary"
          [disabled]="buscarClientesReporte.invalid"
        />
      </form>
      <br />
      <!-- <div class="row">
        <div class="col-6">
          <button
            [useExistingCss]="true"
            printTitle="Factura"
            class="btn btn-primary btn-block"
            printSectionId="print"
            ngxPrint
          >
            Impimir
          </button>
        </div>
        <div class="col-6">
          <button
            [useExistingCss]="true"
            printTitle="Factura"
            class="btn btn-primary btn-block"
            printSectionId="tablePrint"
            ngxPrint
          >
            Impimir Todo
          </button>
        </div>
      </div> -->
      <br />
      <!-- tabla inventario -->
      <div id="print">
        <table
          datatable
          [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger"
          class="table table-striped table-bordered row-border hover"
        >
          <thead>
            <tr>
              <th>#</th>
              <th>Fecha</th>
              <th>Devuelto</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Cédula</th>
              <th>Dirección</th>
              <th>Telefono</th>
              <th>email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientesAlquiler; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ cliente.date }}</td>
              <td>{{ cliente.devuelto }}</td>
              <td>{{ cliente.name }}</td>
              <td>{{ cliente.surname }}</td>
              <td>{{ cliente.identity_card }}</td>
              <td>{{ cliente.direction }}</td>
              <td>{{ cliente.cellphone }}</td>
              <td>{{ cliente.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="tablePrint" class="d-none">
        <table class="table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Fecha</th>
              <th>Devuelto</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Cédula</th>
              <th>Dirección</th>
              <th>Telefono</th>
              <th>email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientesAlquiler; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ cliente.date }}</td>
              <td>{{ cliente.devuelto }}</td>
              <td>{{ cliente.name }}</td>
              <td>{{ cliente.surname }}</td>
              <td>{{ cliente.identity_card }}</td>
              <td>{{ cliente.direction }}</td>
              <td>{{ cliente.cellphone }}</td>
              <td>{{ cliente.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
