<app-sidebar></app-sidebar>
<simple-notifications [options]="options"></simple-notifications>
<div class="content-container">

    <div class="container-fluid">
  
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>{{page_title}}</h1>
        <form #registerCategoriaForm="ngForm" (ngSubmit)="onSubmit(registerCategoriaForm)">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" placeholder="Nombre" #name="ngModel"
              [(ngModel)]="cliente.name" maxlength="50" required>
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">Ingrese nombre</small>
          </div>
          <div class="form-group">
            <label for="surname">Apellido</label>
            <input type="text" class="form-control" name="surname" placeholder="Apellido" #surname="ngModel"
              [(ngModel)]="cliente.surname" maxlength="50" required>
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">Ingrese apellido</small>
          </div>
          <div class="form-group">
            <label for="identity_card">Cedula</label>
            <input type="text" class="form-control" name="identity_card" placeholder="Cedula" #identity_card="ngModel"
              [(ngModel)]="cliente.identity_card" maxlength="10" required>
            <small *ngIf="!identity_card.valid && identity_card.touched" class="invalid-feedback d-block">Ingrese cedula</small>
          </div>
          <div class="form-group">
            <label for="direction">Dirección</label>
            <input type="text" class="form-control" name="direction" placeholder="Dirección" #direction="ngModel"
              [(ngModel)]="cliente.direction" maxlength="150" required>
            <small *ngIf="!direction.valid && direction.touched" class="invalid-feedback d-block">Ingrese dirección</small>
          </div>
          <div class="form-group">
            <label for="cellphone">Telefono</label>
            <input type="text" class="form-control" name="cellphone" placeholder="Telefono" #cellphone="ngModel"
              [(ngModel)]="cliente.cellphone" maxlength="10" required>
            <small *ngIf="!cellphone.valid && cellphone.touched" class="invalid-feedback d-block">Ingrese telefono</small>
          </div>
          <div class="form-group">
            <label for="email">Correo electronico</label>
            <input type="text" class="form-control" name="email" placeholder="Correo electronico" #email="ngModel"
              [(ngModel)]="cliente.email" required>
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">Ingrese correo electronico</small>
          </div>
                    
          <input type="submit" value="Actualizar" class="btn btn-primary" [disabled]="registerCategoriaForm.invalid">          
        </form>
        <br>
        <a [routerLink]="['/clientes']" class="btn btn-secondary">
          Volver
        </a>
      </div>
  
    </div>
  </div>