<app-sidebar></app-sidebar>
<simple-notifications [options]="options"></simple-notifications>
<div class="content-container">

  <div class="container-fluid">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <h1>{{page_title}}</h1>
      <br>

        <a [routerLink]="['/registrar/disfraz']" class="btn btn-primary">
          Registrar nuevo disfraz
        </a>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Foto</th>
              <th scope="col">Actualizar</th>
              <th scope="col">Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let disfraz of disfraces; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{disfraz.name}}</td>
              <td>
                <div *ngIf="disfraz && disfraz.photo">
                  <img src="{{url + 'disfraz/foto/' + disfraz.photo}}" class="avatar_edit"/><p>{{disfraz.photo}}</p>
                </div>
              </td>
              <td>
                <a class="btn btn-warning" [routerLink]="['/actualizar/disfraz/',disfraz.id]">Actualizar</a>
              </td>
              <td>                
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#myModal'+disfraz.id">Eliminar</button>

                <!-- Modal -->
                <div id="{{'myModal'+disfraz.id}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">¿Estas seguro que quieres borrar?</h4>
                      </div>
                      <div class="modal-body">
                        <p>Vas a borrar definitivamente al usuario {{disfraz.name}}</p>
                      </div>
                      <div class="modal-footer">
                        <div (click)="deleteDisfraz(disfraz.id)" class="btn btn-danger" data-dismiss="modal">Borrar</div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
              </td>
            </tr>
            
          </tbody>
        </table>
    </div>

  </div>
</div>
