<app-sidebar></app-sidebar>
<simple-notifications [options]="options"></simple-notifications>
<div class="content-container">

    <div class="container-fluid">
  
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>{{page_title}}</h1>
        <form #registerCategoriaForm="ngForm" (ngSubmit)="onSubmit(registerCategoriaForm)">
          <div class="form-group">
            <label for="name">Nombre del articulo</label>
            <input type="text" class="form-control" name="name" placeholder="Nombre" #name="ngModel"
              [(ngModel)]="articulo.name" required>
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">Ingrese nombre</small>
          </div>
          <div class="form-group">
            <label for="code">Codigo</label>
            <input type="text" class="form-control" name="code" placeholder="Codigo" #code="ngModel"
              [(ngModel)]="articulo.code" required>
            <small *ngIf="!code.valid && code.touched" class="invalid-feedback d-block">Ingrese codigo</small>
          </div>
          <div class="form-group">
            <label for="price">Precio de alquiler</label>
            <input type="number" class="form-control" name="price" placeholder="Precio" #price="ngModel"  onkeypress="return event.charCode >= 48" min="1"
              [(ngModel)]="articulo.price" pattern="^[0-9]+"  required>
            <small *ngIf="!price.valid && price.touched" class="invalid-feedback d-block">Ingrese Precio</small>
          </div>
                    
          <input type="submit" value="Actualizar" class="btn btn-primary" [disabled]="registerCategoriaForm.invalid">          
        </form>
        <br>
        <a [routerLink]="['/articulos']" class="btn btn-secondary">
          Volver
        </a>
      </div>
  
    </div>
  </div>