<app-menu></app-menu>
<br>
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{categoria}}</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-tshirt"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center">
      <!-- Portfolio Item 1-->
      <div class="col-md-6 col-lg-4 mb-5" *ngFor="let disfraz of disfraces; let i = index">
        <div class="portfolio-item mx-auto" [routerLink]="['/probar/disfraz/',disfraz.id]" (click)="prueba(disfraz.id)">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-info-circle"></i></div>
          </div>
          <img class="img-fluid" src="{{url + 'disfraz/foto/' + disfraz.photo}}" width="250px" height="250px"/>
          <img *ngIf="disfraz.photo == ''" class="img-fluid" src="{{noImage}}" width="250px" />
          <h1 class="text-center">{{disfraz.name}}</h1>
        </div>        
      </div>
    </div>
  </div>
</section>



<app-footer></app-footer>
