<app-menu></app-menu>
<hr>
<!-- Contact Section-->
<section class="page-section" [id]="'contacto'">
    <div class="container">
      <!-- Contact Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contacto</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-address-card"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- Contact Section Form-->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <ul>
            <div class="divider-custom-icon">
              <h5><i class="fa fa-home"></i> Dirección</h5>
              <h6>Río Tahuando 153 y Yasuní</h6>
            </div>
            <br>
            <div class="divider-custom-icon">
              <h5><i class="fa fa-phone"></i> Teléfono</h5>
              <h6>(593) (6) 2600549</h6>
            </div>
          </ul>
        </div>
        <div class="col-lg-8 mr-auto">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.748917931479!2d-78.11514418529936!3d0.33794729975344123!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e2a3cd2ed5842db%3A0xce0f3d09b96e65f8!2sLa%20casa%20de%20los%20Disfraces!5e0!3m2!1ses!2sec!4v1608181900171!5m2!1ses!2sec"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>