<app-menu></app-menu>
<br>
<!-- Portfolio Section-->
<section class="page-section portfolio">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{disfraz.name}}</h2>
    <br>
    <div class="row">
      <img class="col mb-3" src="{{url + 'disfraz/foto/' + disfraz.photo}}" width="250px"
        height="250px" />
      <div [hidden]="true" class="col mb-3">
        <video #videoElement class="img-border" width="{{ videoWidth }}" height="{{ videoHeight }}"></video>
      </div>
      <div [hidden]="!modelLoaded || videoCanvasEnable" class="col mb-3">
        <canvas id="canvas" class="img-border" width="{{ canvasWidth }}" height="{{ canvasHeight }}"></canvas>
      </div>
      <div *ngIf="videoCanvasEnable" class="col mb-3">
        <canvas id="videoCanvas" class="img-border" width="{{ canvasWidth }}" height="{{ canvasHeight }}"></canvas>
      </div>
    </div>

    <div class="col mb-3 text-center">
      <button type="button" class="btn btn-danger mr-3" (click)="videoCanvasEnable = true; realTimeVideo();"
        *ngIf="disfraz.photoCostume != ''"><i class="fas fa-camera"></i> Probar </button>
      <!-- <button class="btn btn-primary" [routerLink]="['/']" type="button">Volver</button> -->
      <a class="btn btn-primary" href="/">Volver</a>
    </div>
  </div>
</section>



<app-footer></app-footer>
