<div class="alert alert-danger" *ngIf="status == 'error'">
    {{message}}
  </div>

<div class="form-group">
    <label for="category_id">Roles</label>
    <select name="category_id" #category="ngModel" [(ngModel)]="rolID" class="form-control">
      <option *ngFor="let rol of rolesTotal" value="{{rol.id}}">{{rol.name}}</option>
    </select>
</div>

<a (click)="agregarRol()" class="btn btn-success">Agregar</a>

<br>
<br>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Roles</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rolUsuario of rolesUsuario; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{rolUsuario.name}}</td>
        <td>                
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info" data-toggle="modal" [attr.data-target]="'#myModal'+rolUsuario.id">Eliminar</button>

            <!-- Modal -->
            <div id="{{'myModal'+rolUsuario.id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">¿Estas seguro que quieres borrar?</h4>
                  </div>
                  <div class="modal-body">
                    <p>Vas a borrar definitivamente el rol {{rolUsuario.name}}</p>
                  </div>
                  <div class="modal-footer">
                    <div (click)="deleteCategoriaDisfraz(rolUsuario.id)" class="btn btn-danger" data-dismiss="modal">Borrar</div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
          </td>
      </tr>
    </tbody>
  </table>