<app-sidebar></app-sidebar>
<simple-notifications [options]="options"></simple-notifications>
<div class="content-container">

  <div class="container-fluid">

    <!-- Main component for a primary marketing message or call to action -->
    <form class="jumbotron">
      <h1>{{page_title}}</h1>

      <!-- agregrar -->
      <form #agregarArticuloForm="ngForm" (ngSubmit)="agregar()">
        <div class="form-group">
          <label for="article_id">Artículo</label>
          <select name="article_id" #articulo="ngModel" [(ngModel)]="alquiler.article_id"
            (click)="maximo(alquiler.article_id)" class="form-control" required>
            <option *ngFor="let articulo of articulosDisponibles" value="{{articulo.id}}">{{articulo.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="salida">Cantidad disponible {{maximoCantidad}}</label>
          <input type="number" class="form-control" name="salida" placeholder="Cantidad" #salida="ngModel" [min]="1"
          pattern="^[0-9]+" onkeypress="return event.charCode >= 8 && event.charCode <= 57"
            [max]="maximoCantidad" [(ngModel)]="alquiler.salida" required>
          <small *ngIf="!salida.valid && salida.touched" class="invalid-feedback d-block">Ingrese cantidad</small>
        </div>


        <input
          *ngIf="salida.value <= maximoCantidad && salida.value > 0 ? agregarArticuloForm.valid : agregarArticuloForm.invalid"
          type="submit" value="Agregar" class="btn btn-primary" [disabled]="agregarArticuloForm.invalid">
      </form>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col" class="d-none">id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Codigo</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Valor unitario</th>
            <th scope="col">Valor total</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let articulo of listaAlquiler; let i = index">
            <th scope="row">{{i+1}}</th>
            <td class="d-none">{{articulo.id}}</td>
            <td>{{articulo.name}}</td>
            <td>{{articulo.code}}</td>
            <!-- <td>{{articulo.salida}}</td> -->
            <!-- <td>{{articulo.sal_val_uni}}</td> -->
            <td><input type="number" name="salida{{articulo.id}}" #sal_val_uni="ngModel" [min]="1"
              onkeypress="return event.charCode >= 8 && event.charCode <= 57"
                [max]="articulo.maximo" (change)="aumentarCantidad(i,articulo.id)" [(ngModel)]="articulo.salida">
            </td>
            <td><input type="text" class="form-control" name="sal_val_uni{{articulo.id}}" #sal_val_uni="ngModel" min="1"
              onkeypress="return event.charCode >= 8 && event.charCode <= 57"
                (change)="calcular(i,articulo.id)" [(ngModel)]="articulo.sal_val_uni">
            </td>
            <td>{{articulo.total}}</td>
            <td>
              <!-- Trigger the modal with a button -->
              <button type="button" class="btn btn-info" data-toggle="modal"
                [attr.data-target]="'#myModal'+articulo.id">Eliminar</button>

              <!-- Modal -->
              <div id="{{'myModal'+articulo.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">¿Estas seguro de quitar el articulo de la lista?</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p>Vas quitar el articulo {{articulo.name}}</p>
                    </div>
                    <div class="modal-footer">
                      <div (click)="deleteArticulo(i,articulo.id)" class="btn btn-danger" data-dismiss="modal">Borrar
                      </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="form-group">
        <label for="total">SutTotal</label>
        <input type="number" class="form-control" name="total" value="{{subTotal}}" placeholder="Total" disabled>
      </div>

      <div class="form-group">
        <label for="total">IVA {{setIva}}%</label>
        <input type="number" class="form-control" name="total" value="{{iva}}" placeholder="Total" disabled>
      </div>

      <div class="form-group">
        <label for="total">Total</label>
        <input type="number" class="form-control" name="total" value="{{total}}" placeholder="Total" disabled>
      </div>



      <form #buscarClienteForm="ngForm" (ngSubmit)="onSubmit(buscarClienteForm)">
        <div class="form-group">
          <label for="identity_card">Numero cédula</label>
          <!-- <input type="text" class="form-control" name="identity_card" placeholder="Cedula" #identity_card="ngModel"
            [(ngModel)]="cliente.identity_card" required> -->
          <input type="text" value="" class="form-control" name="cliente.identity_card" pattern="^[0-9]+"
            [(ngModel)]="cliente.identity_card" (change)="validadorDeCedula(cliente.identity_card)" maxlength="10">
          <small *ngIf="!validador" class="text-danger">Cédula Invalida</small>
        </div>
        <input type="submit" value="Buscar" class="btn btn-primary" [disabled]="buscarClienteForm.invalid">
      </form>

      <form #facturarArticulosForm="ngForm" (ngSubmit)="pagar(facturarArticulosForm)">
        <div class="row">
          <div class="col-6">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" name="name" placeholder="Nombre" #name="ngModel"
              [(ngModel)]="cliente.name" pattern="[a-zA-Z ]{2,254}" required>
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">Ingrese nombre</small>
          </div>
  
          <div class="col-6">
            <label for="surname">Apellido</label>
            <input type="text" class="form-control" name="surname" placeholder="Apellido" #surname="ngModel"
              [(ngModel)]="cliente.surname" pattern="[a-zA-Z ]{2,254}" required>
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">Ingrese apellido</small>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <label for="direction">Dirección</label>
            <input type="text" class="form-control" name="direction" placeholder="Dirección" #direction="ngModel"
              [(ngModel)]="cliente.direction" required>
            <small *ngIf="!direction.valid && direction.touched" class="invalid-feedback d-block">Ingrese
              dirección</small>
          </div>
  
          <div class="col-6">
            <label for="cellphone">Telefono</label>
            <input type="number" class="form-control" name="cellphone" placeholder="Telefono" #cellphone="ngModel"
            pattern="^[0-9]+" max="10"
              [(ngModel)]="cliente.cellphone" required>
            <small *ngIf="!cellphone.valid && cellphone.touched" class="invalid-feedback d-block">Ingrese telefono</small>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email" #email="ngModel"
            [(ngModel)]="cliente.email" 
            pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" required>
          <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">Ingrese email</small>
        </div>

        <div class="form-group">
          <label for="guarantee_id">Selecionar garantia</label>
          <select name="guarantee_id" #garantia="ngModel" [(ngModel)]="factura.guarantee_id" class="form-control"
            required>
            <option *ngFor="let garantia of garantias" value="{{garantia.id}}">{{garantia.name}}</option>
          </select>
        </div>

        <div class="form-group" *ngIf="factura.guarantee_id == 2">
          <label for="garantia">Garantia</label>
          <input type="text" class="form-control" name="garantia" placeholder="Garantia" #garantia="ngModel"
          pattern="^[0-9]+"
            [(ngModel)]="factura.garantia" required>
          <small *ngIf="!garantia.valid && garantia.touched" class="invalid-feedback d-block">Ingrese garantia</small>
        </div>

        <input type="submit" value="Finalizar" class="btn btn-primary" [disabled]="facturarArticulosForm.invalid">
      </form>
      <div id="print" class="container" class="d-none" style="visibility: hidden;">
        <div class="card">
      <div class="card-header">
      Fecha:
      <strong>{{fechaActual}}</strong> 
        <!-- <span class="float-right"> <strong>Status:</strong> Pending</span> -->
      
      </div>
      <div class="card-body">
      <div class="row mb-4">
      <div class="col-sm-6">
      <h6 class="mb-3">
        Información de la empresa:</h6>
      <div>
      <strong>LA CASA DEL DISFRAZ EL MUNDO Y SU FOLKLOR</strong>
      </div>
      <div>Dirección: RÍo Tuhuando 153 Y YasunÍ</div>
      <div>Ciudad: Ibarra, Imbabura. Ecuador</div>
      <div>Email: info@webz.com.pl</div>
      <div>Teléfono: (06) 260-0549 - 0997811654</div>
      </div>
      
      <div class="col-sm-6">
      <h6 class="mb-3">Información del cliente:</h6>
      <div>
      <strong>{{cliente.name}} {{cliente.surname}}</strong>
      </div>
      <div>Dirección: {{cliente.direction}}</div>
      <div>Email: {{cliente.email}}</div>
      <div>Teléfono: {{cliente.cellphone}}</div>
      </div>
      
      
      
      </div>
      
      <div class="table-responsive-sm">
      <table class="table table-striped">
      <thead>
      <tr>
      <th class="center">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Codigo</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Valor unitario</th>
      <th scope="col">Valor total</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let articulo of listaAlquiler; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{articulo.name}}</td>
            <td>{{articulo.code}}</td>
            <td>{{articulo.salida}}</td>
            <td>{{articulo.sal_val_uni}}</td>
            <td>{{articulo.total}}</td>
      </tr>
      </tbody>
      </table>
      </div>
      <div class="row">
      <div class="col-lg-4 col-sm-5">
      
      </div>
      
      <div class="col-lg-4 col-sm-5 ml-auto">
      <table class="table table-clear">
      <tbody>
      <tr>
      <td class="left">
      <strong>Subtotal</strong>
      </td>
      <td class="right">${{subTotal}}</td>
      </tr>
      <!-- <tr>
      <td class="left">
      <strong>Discount (20%)</strong>
      </td>
      <td class="right">$1,699,40</td>
      </tr> -->
      <tr>
      <td class="left">
       <strong>IVA {{setIva}}%</strong>
      </td>
      <td class="right">${{iva*subTotal | number : '1.2-2'}}</td>
      </tr>
      <tr>
      <td class="left">
      <strong>Total</strong>
      </td>
      <td class="right">
      <strong>${{total}}</strong>
      </td>
      </tr>
      </tbody>
      </table>
      
      </div>
      
      </div>
      
      </div>
      </div>
      </div>
    </form>
  </div>
</div>

<!-- <div class="container">
  <div class="row" id="contenido">

    <div class="col-xs-6 text-right">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6>NIT :
            <a href="#">N&uacute;mero de NIT</a>
          </h6>
          <h6>AUTORIZACI&Oacute;N :
            <a href="#">N&uacute;mero de Aut.</a>
          </h6>
        </div>
        <div class="panel-body">
          <h6>FACTURA :
            <a href="#">N&uacute;mero de FACTURA</a>
          </h6>
        </div>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6>Ibarra, {{factura.date}}</h6>
          </div>
          <div class="panel-body">


            <h6>Comprador:{{cliente.name}} {{cliente.surname}}</h6> 
            <h6>C.I: {{cliente.identity_card}}</h6>
            

          </div>
        </div>
      </div>

    </div>
    <pre></pre>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Codigo</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Valor unitario</th>
          <th scope="col">Valor total</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let articulo of listaAlquiler; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{articulo.name}}</td>
          <td>{{articulo.code}}</td>
          <td>{{articulo.salida}}</td>
          <td>{{articulo.sal_val_uni}}</td>
          <td>{{articulo.total}}</td>
          
        </tr>
      </tbody>
    </table>

    <pre></pre>


    <div class="row">
      <div class="col-xs-8">

        <div class="panel panel-info" style="text-align: right;">
          <h6> "LA ALTERACI&Oacute;N, FALSIFICACI&Oacute;N O COMERCIALIZACI&Oacute;N ILEGAL DE ESTE
            DOCUMENTO ESTA PENADO POR LA LEY"</h6>
        </div>

      </div>
    </div>

  </div>
</div> -->

<!-- <div>
  <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
</div> -->
