<app-menu></app-menu>
<hr>
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="nosotros">
    <div class="container">
      <!-- About Section Heading-->
      <h2 class="page-section-heading text-center text-uppercase text-white">nosotros</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-users"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <!-- About Section Content-->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead text-justify">
            Actualmente somos una de las principales empresas de alquiler y venta, de disfraces y accesorios, de la zona
            norte del país.
  
            En resumen, nos encanta los pregones, Carnaval, Halloween y bueno... de cualquier pretexto para disfrazarse.
          </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead text-justify">Nuestra misión es brindar y superar las mejores expectativas de nuestros clientes,
            con los
            mejores precios
            competitivos, para cualquier tipo de fiesta, a través de la elección de la gama más amplia de productos,
            mejorando siempre el valor de la empresa.</p>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>